* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: bisque;
    border: 0em;
}

.paginaGeral {
    background-color: bisque;
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: space-around;  

}

.lateralDireita {
    background-color: blueviolet;    
    display: flex;
    justify-content: space-around;

}

.lateralEsquerda {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contatos{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
}