:root {
    --laranja:#ee9b00;
    --azul:#03045e;
    --branco:#ffffff;
}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    border: 0px;
}
.titulo{
    font-size: 3em;
    color: var(--laranja);
}

.subtitulo{
    font-size: 2em;
}

.topPagina {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;



}

.topPagina-menu{
    height:5em;
    background-color: #003049;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.topPagina-menu-nav{
    display: flex;
}

.topPagina-menu nav a{
    color: #FCBF49;
    padding: 0 1em;
}

.topPagina-top{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    padding: 0 4em;
    flex-direction: column;
    justify-content: center;
    background-image: url("/./semanas/semana_3/assets/imagens/pexels-fauxels-3184299.jpg");
    background-position: center;
    background-size: cover;
}

.topPagina-top h3{
    color:#EAE2B7;
    

}


.paginaGeral {
    background-color: bisque;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-direction: column;


}

.lateralDireita {
    width: 100vw;   
    padding: 0 0;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#apresentacao{
    width:100vw;
    height: 30vh;
    background-color: #ffffff;
    padding: 0 4em;
    display: flex;
    align-items: center;
}


.contato-texto{
    color:#ffffff;
    background-color:#003049;
    width:100vw;
    height: 30vh;
    padding: 0 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#contato{
    color:#ffffff;
    background-color:#003049;
    width:100vw;
    height: 30vh;
    padding: 0 4em;
    display: flex;
    justify-content:space-between;   

}
.contato-contatos a{
    color:#ffffff;
    display: flex;
    justify-content:flex-end;
}

.contato-contatos-links {
    background-color: #FCBF49;
    display: flex;
    justify-content:flex-end;
}




.lateralEsquerda {
    background-color: aqua;
    width: 100vw;
    padding: 0 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}